<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        >
    </uses-permission>
     <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    
 <!-- ****************************推送相关**************************** -->
 
 <!--以下为必须的权限 -->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<uses-permission android:name="getui.permission.GetuiService" />
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
<uses-permission android:name="android.permission.GET_TASKS" /> 

<!--自定义权限-->
<permission
	android:name="getui.permission.GetuiService"
	android:protectionLevel="normal" >
</permission>
 
 
 
 
 <!-- ****************************推送相关**************************** -->
 
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/zhuomian"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
  <!-- ****************************推送相关**************************** -->
        
        <!-- 个推SDK配置开始 -->
<!-- 配置的第三方参数属性 -->
<meta-data android:name="PUSH_APPID" android:value="ULHy83xt9Y7pBgXeuZmUD3" />
<meta-data android:name="PUSH_APPSECRET" android:value="RIISr2NKB46kqwxCnmRpv" />
<meta-data android:name="PUSH_APPKEY" android:value="FNW5iHlPR19DRA93MILEh" />
<meta-data android:name="PUSH_GROUPID" android:value="" />

<!--配置SDK核心服务-->
<service android:name="com.igexin.sdk.PushService"
	android:exported="true"
	android:label="NotificationCenter"
	android:process=":pushservice" >
</service>

<receiver android:name="com.igexin.sdk.PushReceiver">
	<intent-filter>
		<action android:name="android.intent.action.BOOT_COMPLETED" />
		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		<action android:name="android.intent.action.USER_PRESENT" />
		<action android:name="com.igexin.sdk.action.refreshls" />
	</intent-filter>
</receiver>
<receiver android:name="com.igexin.sdk.PushReceiver"
	android:exported="false" >
	<intent-filter>
    		<action android:name="com.igexin.sdk.action.pushmanager" />
	</intent-filter>
</receiver>

<activity android:name="com.igexin.sdk.PushActivity"
	android:process=":pushservice"
	android:theme="@android:style/Theme.Translucent.NoTitleBar"
	android:taskAffinity="com.igexin.sdk.PushActivityTask"
	android:excludeFromRecents="true"
	android:exported="false">
</activity>

<!-- 配置弹框activity -->
<activity android:name="com.igexin.getuiext.activity.GetuiExtActivity"  
	android:process=":pushservice"
	android:configChanges="orientation|keyboard|keyboardHidden"
	android:excludeFromRecents="true"
	android:taskAffinity="android.task.myServicetask"
	android:theme="@android:style/Theme.Translucent.NoTitleBar"
	android:exported="false" />
<receiver android:name="com.igexin.getuiext.service.PayloadReceiver"
	android:exported="false" >
	<intent-filter>
		<!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改  -->
		<action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
		<!-- android:name="com.igexin.sdk.action.第三方的appId" -->			
		<action android:name="com.igexin.sdk.action.ULHy83xt9Y7pBgXeuZmUD3" />
	</intent-filter>
</receiver>
<service android:name="com.igexin.getuiext.service.GetuiExtService" 
	android:process=":pushservice" />

<!-- 个推download模块配置-->
<service android:name="com.igexin.download.DownloadService"
	android:process=":pushservice" />
<receiver
	android:exported="false" android:name="com.igexin.download.DownloadReceiver"> 
	<intent-filter>
		<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
	</intent-filter>
</receiver>
<provider android:name="com.igexin.download.DownloadProvider" 
	android:process=":pushservice" 
	android:authorities="downloads.com.example.musicplayer"/>
	<!-- android:authorities="downloads.第三方包名" -->
<!-- ====================================================== -->
        
        
        
        <!-- ***************************推送相关***************************** -->
        
        
        
        
        <activity
            android:name="com.example.musicplayer.AminationActivity"
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MusicManagerActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
 			android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".PlayingMusicActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
 			android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SearchSongActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
 			android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         
         <activity
            android:name=".PlayHistoryListActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
 			android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MyLocalMusicListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
 			android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MyCollectMusicListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
 			android:theme="@android:style/Theme.NoTitleBar"
            >
           <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
 			android:theme="@android:style/Theme.NoTitleBar"
            >
           <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          
         <activity
            android:name=".netDownloadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
 			android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <service android:name=".PlayMusicService">
- 			<intent-filter>
  				<action android:name="com.angel.Android.MUSIC" /> 
  				<category android:name="android.intent.category.default" /> 
  			</intent-filter>
	 	 </service>
	 	 
         <service android:name=".FloatWindowService"></service>

    </application>

</manifest>
